**/.DS_Store
**/__pycache__
/plots/*.pdf
/mask/*.npy
/fitsfiles/*.fits
/catalog/*.csv
/catalog/*.json
/notebooks/*.ipynb
/data/*.csv
/data/*.vot
/data/*.fits
/modules/__pycache__
notebooks/.ipynb_checkpoints/Astrondendro_exploratorio-checkpoint.ipynb
